.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
    background-color: #1CC5CB !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: #1CC5CB !important;
    color: white !important;
    opacity: 0.35;
}